---
import { twMerge } from 'tailwind-merge';
import { linkClassName } from '@/components/styles';
import identity from 'lodash/fp/identity';
import sortBy from 'lodash/fp/sortBy';
import type { BlogPostSummary } from './summary';

export type Props = {
	post: BlogPostSummary;
};

const tagSort = sortBy<string>(identity);

const { post: blogSummary } = Astro.props;
---

<div class="py-8">
	<a href={`/articles/${blogSummary.slug}`}>
		<h2 class={twMerge('text-2xl font-medium mb-2', linkClassName)}>
			{blogSummary.frontmatter.title}
		</h2>
	</a>
	<span class="text-xs">
		<span data-date={blogSummary.frontmatter.date}>
			{blogSummary.frontmatter.date}
		</span>
		{
			blogSummary.frontmatter.tags &&
				tagSort(blogSummary.frontmatter.tags).map((tag) => (
					<a
						class="border border-purple-900 bg-purple-100 inline-block rounded-full px-1 mr-1"
						href={`/articles/tagged/${tag}/page/1/`}
					>
						{tag}
					</a>
				))
		}
	</span>
	<p class="leading-relaxed">{blogSummary.excerpt}</p>
	<a
		href={`/articles/${blogSummary.slug}`}
		class={twMerge('inline-flex items-center mt-4 group', linkClassName)}
	>
		Read More ({blogSummary.readingTime.text}) about {
			blogSummary.frontmatter.title
		}
		<svg
			class="w-4 h-4 ml-2 group-hover:translate-x-2 transition-transform"
			viewBox="0 0 24 24"
			stroke="currentColor"
			stroke-width="2"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path d="M5 12h14"></path>
			<path d="M12 5l7 7-7 7"></path>
		</svg>
	</a>
</div>
