---
export interface Props {
	title: string;
	image?: string | undefined;
	description?: string | undefined;
}

const {
	title,
	image: metaImage,
	description: metaDescription = 'Personal articles and profile of Matt DeKrey',
} = Astro.props;
const canonicalURL = new URL(
	Astro.url.pathname.replace(/([^/])$/, '$1/'),
	Astro.site ?? Astro.url,
);

const gitHash = import.meta.env.GIT_HASH ?? 'HEAD';
---

<link rel="shortcut icon" href="/favicon-32x32.png" />
<title>
	{title} | DeKrey.NET
</title>
<meta name={`description`} content={metaDescription} />
<meta property={`og:title`} content={title} />
<meta property={`og:description`} content={metaDescription} />
{
	metaImage ? (
		<meta
			property={`og:image`}
			content={new URL(metaImage, Astro.site ?? Astro.url)}
		/>
	) : null
}
<meta property={`og:type`} content={`website`} />
<meta name={`twitter:card`} content={`summary`} />
<meta name={`twitter:creator`} content={`@mdekrey`} />
<meta name={`twitter:title`} content={title} />
<meta name={`twitter:description`} content={metaDescription} />
<meta name="git-version" content={gitHash} />
<link rel="canonical" href={canonicalURL} />
<link
	rel="alternate"
	type="application/rss+xml"
	title="RSS Feed for Dekrey.NET"
	href="/rss.xml"
/>
